.content-container{
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
    border-style: solid;
    border-width: 0.01ch;
}

.content-container-filter{
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}