.header{
    background: $dark-purple;
}

.header__content{
    img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $m-size;
    }
}

.header__title{
    color: white;
    text-decoration: none;
    h1{
        margin: 0;
    }
}