.list-grid{
   /*div{
    float: left;
    width: 23%;
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
   }*/

   margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
  
}


.list-item{
   

   float: left;
    width: 23%;
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}