.list-grid{
   /*div{
    float: left;
    width: 23%;
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
   }*/
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}


.list-item{
   float: left;
    width: 23%;
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}

.list-header {

        display: flex;
        padding: $s-size $m-size;
        justify-content: space-between;
        font-size: large;

       img{
        background-color: $brigh-purple;
        display: inline-block;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
       } 

        
}

.list-body{
    margin-bottom: $m-size;
}